<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

	<div th:fragment="footer" th:remove="tag">

		<footer class="footer">
			<div class="container">
				<p class="text-muted">&copy; 2018 Cegeka</p>
				<span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                </span>
			</div>
		</footer>

		<div th:replace="common/scripts :: commmon"></div>

	</div>

</body>
</html>