<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <head th:replace="common/header :: head"></head>
</head>
<body>
<div th:replace="common/header :: top-navigation">...</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Login page</h1>
        <form th:action="@{/admin/createUser}" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="username">Username</label>:
                <input type="text"
                       id="username"
                       name="username"
                       class="form-control"
                       autofocus="autofocus"
                       placeholder="Username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>:
                <input type="password"
                       id="password"
                       name="password"
                       class="form-control"
                       placeholder="Password"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>:
                <input type="email"
                       id="email"
                       name="email"
                       class="form-control"
                       placeholder="Email"/>
            </div>
            <div class="form-group">
                <label for="password">Phone</label>:
                <input type="text"
                       id="phone"
                       name="phone"
                       class="form-control"
                       placeholder="Phone"/>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="login-submit"
                               id="login-submit"
                               class="form-control btn btn-info"
                               value="create"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="common/footer :: footer">...</div>


</body>
</html>