<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/header :: head"></head>
</head>
<body>
<div th:replace="common/header :: top-navigation">...</div>

<div class="container">

    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th> Id </th>
            <th> Accuracy </th>
            <th> Last trained </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${trainings.empty}">
            <td colspan="2"> No trainings available </td>
        </tr>
        <tr th:each="training : ${trainings}">
            <td><span th:text="${training.id}"> Id </span></td>
            <td><span th:text="${training.accuracy}"> Accuracy </span></td>
            <td><span th:text="${training.lastTrained}"> Last trained </span></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="common/footer :: footer">...</div>

</body>
</html>